ul#shapesList{
    margin: 0 auto;
    padding: 0;
    width: 500px;
    list-style: none;
    text-align: center;
}

ul#shapesList li{
    display: inline-block;
}

ul#shapesList li a{
    padding: 10px;
}

#paramCollector{
    width: 500px;
    margin : 10px auto;
}

#paramCollector .fld_grp{
    display: inline-block;
    width: 220px;
    border: 1px solid #ccc;
    margin: 9px;
    padding: 5px;
}

#paramCollector .fld_grp label{
    font-weight: bold;
}
#paramCollector .fld_grp input{
    margin-left: 10px;
}
#paramCollector .fld_grp span.pdesc{
    color: #888;
    display: block
}

#paramCollector .fld_grp input[type="submit"]{
    width: 100px;
    margin: 0 auto;
    display: block;
}